.popup-container {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    color: black;
    background-color: #4e727470;
    
}


.popup-inner {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: left;
    background:var(--bg-variant);
    height: 100%;
    animation:popupInner 2s 1;
}

@keyframes popupInner {
    0% {width:20%}
    100% {width:30%}
}
.popup-menu {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-menu li {
    border: solid 2px #fff;
    width: 50%;
    height: 30px;
    border-radius:var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    font-size: 1em;
    background-color: var(--bg);
}